.text-nav{
    color: white;
    /* padding-left: 10px; */
    /* border: 2px solid black; */
    display: flex;
    width: 250px;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    /* align-content: center; */
}

.navbar{
    margin-bottom: 1rem;
}
